/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
src/main/resources/application.properties
.idea

*.properties
*.iml
euler6*
euler7*
euler8*
euler9*
euler10*
euler11*
euler12*
euler13*
euler14*
euler15*
*pdf*
*.jar
/bin
*.cmd
*.xml
*.imf
*.IMF