<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>aboutMe</title></head>
<body>
<div th:fragment="aboutMe">
    <!-- Modal -->
    <div aria-labelledby="myModalLabel" class="modal fade" id="aboutMeModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Gabor Farkas</h4>
                </div>
                <div class="modal-body">
                    Dear Sir / Madam,
                    <br><br>

                    I've used Microsoft Excel for my work using built-in functions to ease my life. After a while, I used VBA to speed up processes and to automate them. Until 2017 I just use VBA and Excel besides my daily tasks. In 2017 I attended a Java course in Malta. It was a starter course but was enough to make me change my carrier. Since then I built some desktop app with Java, rebuilt a website etc. Now I'd like to be a full-time developer. I can demonstrate my whole programming knowledge by a website. (felulvizsgalat.hu). It uses PHP for the backend, MySQL for the database, Google People API via Google App Script and HTML5, CSS, JavaScript(JQuery) for the frontend.
                    <br><br>
                    The most interesting project I have worked on:
                    To build a website (felulvizsgalat.hu) from bottom to top with a programming language (PHP) that I've never used before.  If a user fills the form and submits it. He or She gets an email about a successful order, we get an email with the order's detail. And we got a new order item in our Android app. In this app, we can make a price offer to the user with a link in a digitally signed PDF to order the service, etc…
                    I also have a Java Spring Boot app at https://spring-boot-euler.herokuapp.com.
                    <br><br>
                    Which are my preferred tools and technologies?
                    I really don't prefer tools or languages. They are different but do the same job.
                    I think I can learn any of them if it's needed to solve a problem.
                    <br><br>
                    I am available to join to you:
                    One month from the end of the actual month.
                    <br><br>
                    What makes me a good engineer?
                    I always want to be better.
                    <br><br>
                    Kind regards,
                    <br><br>
                    Gabor Farkas

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>