<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>aboutMe</title></head>
<body>
<div th:fragment="aboutEuler">
    <!-- Modal -->
    <div aria-labelledby="myModalLabel" class="modal fade" id="eulerModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Leonhard Euler</h4>
                </div>
                <div class="modal-body">
                    Leonhard Euler, (born April 15, 1707, Basel, Switzerland—died September
                    18, 1783, St. Petersburg, Russia), Swiss mathematician and physicist, one of the founders of pure
                    mathematics. He
                    not only made decisive and formative contributions to the subjects of geometry, calculus, mechanics,
                    and
                    number
                    theory but also developed methods for solving problems in observational astronomy and demonstrated
                    useful
                    applications of mathematics in technology and public affairs.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>