<footer class="footer">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 leftAlign bg-dark">Contact
                <br>
                <a href="mailto:info@gfarkas.com" target="_top">info@gfarkas.com</a>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 centerAlign bg-dark">Gabor Farkas
            <br>
            Junior Full Stack Developer
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 rightAlign bg-dark">
                <a href="https://www.linkedin.com/in/gabor-farkas-ab92973a/" target="_blank"> LinkedIn</a>
                <br>
                <a href="https://github.com/gFarkas1981" target="_blank">Github</a>
            </div>
        </div>
</footer>