<footer class="footer">
    <div class="row footer">
        <div class="aboutMe bg-dark col-md-4" p>
            <span class="footerName">Gabor Farkas</span>
            <br>
            <span class="footerDev">
                Junior Full Stack Developer
            </span>
        </div>


        <div class="aboutMe bg-dark col-md-4">
            <span class="footer">Contact:<br></span>
            <span><i class="icon ion-email"></i><a href="mailto:info@gfarkas.com?Subject=Would%20you%20work%20with%20us?" target="_top">E-mail: info@gfarkas.com</a></span><br>
        </div>
        <div class="aboutMe bg-dark col-md-4">
            <span class="footerDev">
                <span><i class="icon ion-social-linkedin"></i><a href="https://www.linkedin.com/in/gabor-farkas-ab92973a/" target="_blank"> LinkedIn</a></span><br>
                <span><i class="icon ion-social-github"></i><a href="https://github.com/gFarkas1981" target="_blank">Github</a></span><br>
            </span>
        </div>
    </div>
</footer>