<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>footer</title></head>
<body>
<div th:fragment="navBar">
    <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
        <a class="navbar-brand" href="#">gfarkas.com</a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarCollapse" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       id="project-euler">Project Euler</a>
                    <ul aria-labelledby="project-euler" class="dropdown-menu">
                        <li class="dropdown-item" data-target="#eulerModal" data-toggle="modal" href="#"><a>About
                            Euler</a>
                        </li>
                        <li class="dropdown-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                               id="eprojects">Solved Projects</a>
                            <ul aria-labelledby="dropdown1-1" class="dropdown-menu">
                                <li class="dropdown-item" id="euler1Button" href="#"><a>Euler 1</a></li>
                                <li class="dropdown-item" id="euler2Button" href="#"><a>Euler 2</a></li>
                                <li class="dropdown-item" id="euler3Button" href="#"><a>Euler 3</a></li>
                                <li class="dropdown-item" id="euler4Button" href="#"><a>Euler 4</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       id="backEnd">BackEnd</a>
                    <ul aria-labelledby="programmingLanguages" class="dropdown-menu">
                        <li class="dropdown-item" href="#"><a>Java</a></li>
                        <li class="dropdown-item" href="#"><a>PHP</a></li>
                        <li class="dropdown-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                               id="backEndFrameWorks">FrameWorks</a>
                            <ul aria-labelledby="FrameWorks" class="dropdown-menu">
                                <li class="dropdown-item" href="#"><a>Spring Boot</a></li>
                                <li class="dropdown-item" href="#"><a>Ruby On Rails</a></li>
                                <li class="dropdown-item" href="#"><a>Laravel</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       id="frontend">FrontEnd</a>
                    <ul aria-labelledby="frontend" class="dropdown-menu">
                        <li class="dropdown-item" href="#"><a>HTML 5</a></li>
                        <li class="dropdown-item" href="#"><a>CSS</a></li>
                        <li class="dropdown-item" href="#"><a>BootStrap</a></li>
                        <li class="dropdown-item" href="#"><a>Javascript</a></li>

                        <li class="dropdown-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                               id="FrameWorks">FrameWorks</a>
                            <ul aria-labelledby="FrameWorks" class="dropdown-menu">
                                <li class="dropdown-item" href="#"><a>Spring Boot</a></li>
                                <li class="dropdown-item" href="#"><a>Ruby On Rails</a></li>
                                <li class="dropdown-item" href="#"><a>Laravel</a></li>
                                <li class="dropdown-item" href="#"><a>Jquery</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#gitHubModal" data-toggle="modal" href="#">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#aboutMeModal" data-toggle="modal" href="#">aboutMe</a>
                </li>

            </ul>
            <span class="nav-item" id="status-area"></span>
            <form class="form-inline mt-2 mt-md-0">
                <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="text">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>