.navbar .dropdown-toggle, .navbar .dropdown-menu a {
    cursor: pointer;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.modal-header .btnGrp{
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: #16181b !important;
}


.min{
    width: 250px;
    height: 35px;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0;

    float: left;
    position: static !important;
}

.min .modal-dialog, .min .modal-content{
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;

}

.min .modal-header{
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 3px 5px !important;
}

.display-none{display: none;}

button .fa{
    font-size: 16px;
    margin-left: 10px;
}

.min .fa{
    font-size: 14px;
}

.min .menuTab{display: none;}

button:focus { outline: none; }

.minmaxCon{
    height: 35px;
    bottom: 1px;
    left: 1px;
    position: fixed;
    right: 1px;
    z-index: 9999;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

#main-content {
    width: 100%;
    height: 550px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.footer a:link {
    color: antiquewhite;
}

/* visited link */
.footer a:visited {
    color: antiquewhite;
}


.content {

    flex: 1 0 auto;
}
.footer {
    height: 60px;
    left: 0;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
    width: 100%;
    margin: 0 auto;
}

.footer {
    flex-shrink: 0;
}

label { padding-right:20px }

#status-area{
    position: absolute;
    left: 50%;
    color: yellow;
}

input {
    text-align: right;
}

tr{
    align-items: center;
}

tr #responseRow{
    height: 100px;
}

table td {
    border-top: none !important;
}

.container{
    width: 100%;
    margin: 0;
    padding: 0;
}

.leftAlign {
    float: left;
    margin-left: 0;
}

.centerAlign {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.row{
    height: 50px;
}

#projectEulerImg {
    border-radius: 10px;
    max-width: 50%;
    height: auto;
}

#textcss, #texthtml, #textbootstrap, #textjquery, #textjscript, #textjava, #textphp {
    display: none;
}